.LinkDialog-Link {
  transition: all .2s ease;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bolder;
  min-width: 0;
  text-decoration: none;
  color: black;
}

.LinkDialog-Link:hover {
  min-width: 100%;
  color: #1EAEDB;
}

.LinkDialog-Dialog {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 300;
}